<h1>WHY IT MATTERS</h1>

<h2>Our workplace is our greatest asset</h2>
<p>We believe that diversity is vital to creating a world where everyone can feel they belong,<br> 
and we’re serious about ending discrimination and building a more inclusive company.<br> 
We’re committed to transparency as we make Playlist a workplace where everyone feels welcome and all voices are heard.</p><br>

<h2> How does the bias reporting application (BRA) work?</h2>
<p> BRA is a company wide tool to encourage employees to report bias-related incididents / hate crimes in the workplace.<br> 
BRA requires employees to create an account using their work email address, and once logged in, employees can complete<br>
and submit the BRA form. When employees submit a form, they will receive a confirmation email in their work email address.</p><br>

<h2> What is considered a bias-related incident / hate crime?</h2>
<p>Bias-related incidents are behaviors that express hostility against a person, property or group because of certain criteria<br> 
(e.g. race, color, national origin, religion, sex, age, sexual orientation, etc.)<br><br> 

The District of Columbia's Bias-Related Crime Act of 1989 defines a bias-related crime (i.e., hate crime) as a criminal act 
and/or attempting, aiding, abetting, advising, inciting, conniving, or conspiring to commit a criminal act 
(such as arson, assault, burglary, injury to property, kidnapping, manslaughter, murder, rape, robbery, theft, or unlawful entry) 
based on the actual or perceived race, color, religion, national origin, sex, age, marital status, personal appearance, sexual orientation, 
gender identity or expression, family responsibility, homelessness, physical disability, matriculation, or political affiliation 
of a victim of a criminal act. Hate crimes under various federal laws have similar definitions.</p><br>

<h2> Are there any repercussions when identifying myself or other employees?</h2>
<p>Given the nature of the form, we want to ensure the privacy of the person completing and submitting a form<br> 
in addition to other information provided by the person in the form. Please remember that submissions are <strong>NOT</strong> anonymous<br>
and HR will contact you directly to take the appropriate next steps.</p>

