<h1>Our organization is stronger when we all feel safe!</h1>
<br>
<img src="https://atlassianblog.wpengine.com/wp-content/uploads/diversityreportmeeplegroup.png" alt="a diverse group of people"
    id="diversity">
<h6>Image provided by Atlassian</h6>


<p>
    <strong>"Our mission is to foster a diverse, inclusive and equitable environment for all employees.
        <br> Through this bias reporting form we want to empower everyone to hold our organization accountable."</strong>
    <br>
    <br> Francisco Gutierrez
    <br> CEO, Co-Founder, Playlist
</p>
<br> {{!--
<a href='/form/new'>Click here!</a>
<br> --}}

<a href='/faq' class="learnMoreButton">LEARN MORE </a>