<form action="/form/submit" method="POST">
  {{!--
  <label for="email">Email</label>
  <input type="text" name="email" /> --}}
  <fieldset>
    <legend> Type of Bias Experienced:
      <br>
    </legend>
    <input type="checkbox" name="bias[age]" id="option" value="true">
    <label for="option">Age</label>
    <br>
    <input type="checkbox" name="bias[gender]" id="option2" value="true">
    <label for="option2">Gender</label>
    <br>
    <input type="checkbox" name="bias[religion]" id="option3" value="true">
    <label for="option3">Religion</label>
    <br>
    <input type="checkbox" name="bias[race]" id="option4" value="true">
    <label for="option4">Race</label>
    <br>
    <input type="checkbox" name="bias[disability]" id="option5" value="true">
    <label for="option5">Disability</label>
    <br>
    <input type="checkbox" name="bias[marital-status]" id="option6" value="true">
    <label for="option6">Marital Status</label>
    <br>
    <input type="checkbox" name="bias[sexual-orientation]" id="option7" value="true">
    <label for="option7">Sexual Orientation</label>
    <br>
    <input type="checkbox" name="bias[national-origin]" id="option8" value="true">
    <label for="option8">National Origin</label>
    <br>
    <input type="checkbox" name="bias[ethnicity]" id="option9" value="true">
    <label for="option9">Ethnicity</label>
    <br>
    <input type="checkbox" name="bias[gender-identity]" id="option10" value="true">
    <label for="option10">Gender Identity</label>
    <input type="checkbox" name="bias[culture]" id="option11" value="true">
    <label for="option11">Culture</label>
    <br>
    <input type="checkbox" name="bias[veteran-status]" id="option12" value="true">
    <label for="option12">Veteran Status</label>
    <br>
    <input type="checkbox" name="bias[ex-offender-status]" id="option13" value="true">
    <label for="option13">Ex-Offender Status</label>
    <br>
    <input type="checkbox" name="bias[class-socioeconomic-status]" id="option14" value="true">
    <label for="option14">Class/Socioeconomic Status</label>
    <br>
    <input type="checkbox" name="bias[other]" id="option15" value="true">
    <label for="option15">Other</label>
  </fieldset>
  <br>
  <fieldset>
    <legend> Type of Incident:
      <br>
    </legend>
    <input type="checkbox" name="incident[physical-harrassment]" id="option16" value="true">
    <label for="option16">Physical Harrassment or Assault</label>
    <br>
    <input type="checkbox" name="incident[verbal-harrassment]" id="option17" value="true">
    <label for="option17">Verbal Harrassment</label>
    <br>
    <input type="checkbox" name="incident[phone-harrassment]" id="option18" value="true">
    <label for="option18">Phone Harrassment</label>
    <br>
    <input type="checkbox" name="incident[written-harrassment]" id="option19" value="true">
    <label for="option19">Written Harrassment</label>
    <br>
    <input type="checkbox" name="incident[email-online-harrassment]" id="option20" value="true">
    <label for="option20">Email/Online Harrassment</label>
    <br>
    <input type="checkbox" name="incident[intimidation]" id="option21" value="true">
    <label for="option21">Intimidation</label>
    <br>
    <input type="checkbox" name="incident[vandalism]" id="option22" value="true">
    <label for="option22">Vandalism</label>
    <br>
    <input type="checkbox" name="incident[damage-destruction-property]" id="option23" value="true">
    <label for="option23">Damage or Destruction of Property</label>
    <br>
    <input type="checkbox" name="incident[other]" id="option24" value="true">
    <label for="option24">Other</label>
    <br>
  </fieldset>
  Where did the incident take place?
  <br>
  <textarea rows="4" cols="50" name="location"></textarea>
  <br> When did the incident take place?
  <br>
  <textarea rows="4" cols="50" name="date"></textarea>
  <br> Detailed description of event:
  <br>
  <textarea rows="4" cols="50" name="description"></textarea>
  <br> Did anyone witness the event? If so, who?
  <br>
  <textarea rows="4" cols="50" name="witness"></textarea>
  <br>
  </legend>
  <input type="submit" value="Submit">
</form>